{% load static %}

<html>
   
<head> <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}"></head>
<title>Good Samaritan</title>

    <a href="home.html"><img src="{% static 'home/download.jpg' %}" alt="download.jpg" width="100" height="100"></img></a>
    <h1 class="headey">Good Samaritan</h1>
  <div class="topnav">
    <a class="active" href="home.html"></a>
    <div class="topnav-right">
        <a href="news">News</a>
    <a href="#contact">Contact</a>
      <a href="ngo">NGO'S</a>
      <a href="map">Donate!!</a>
    </div>
  </div>
<p class="para">Welcome to Good Samaritan!</br> A gateway to philanthropic and charitable causes.
</p>
<img class="hero" src="{% static 'home/begge.jpg' %}"></img>

<!--<a href="mappy.html"><input type="button" class="butty" value="Donate" /></input></a>-->




</html>