{% load static %}
<html>
    <head> <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}"></head>
<title>Good Samaritan</title>

    <a href="main.html"><img class="logo" src="{% static 'home/download.jpg' %}"></img></a>
    <h1 class="head">Good Samaritan</h1>
  <div class="topnav">
    <a class="active" href="main.html"></a>
    <div class="topnav-right">
        <a href="link.html">News</a>
    <a href="#contact">Contact</a>
      <a href="https://www.giveindia.org/certified-indian-ngos">NGO'S</a>
      <a href="mappy.html">Donate!!</a>
    </div>
  </div>
<p class="para">Welcome to Good Samaritan!</br> A gateway to philanthropic and charitable causes.
</p>
<h7 class="paygate">Payment Gateway</h7>
<h9 class="prompt">Your Transaction has been processed</h9>
<button type="button" class="buttontwo"><a href="receipt">Obtain Receipt</a></button>
</html>