{% load static %}
<html>
    <html>
        <head><link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
          <script type="text/javascript" src="calc.js"></script>
        </head>
        <body>
            <title>Good Samaritan</title>
    
            <a href="main.html"><img class="logo" src="{% static 'home/download.jpg' %}"></img></a>
            <h1 class="headey">Good Samaritan</h1>
          <div class="topnav">
            <a class="active" href="main.html"></a>
            <div class="topnav-right">
                <a href="#news">News</a>
            <a href="#contact">Contact</a>
              <a href="https://www.giveindia.org/certified-indian-ngos">NGO'S</a>
              <a href="mappy.html">Donate!!</a>
            </div>
          </div>
        <p class="para">Welcome to Good Samaritan!</br> A gateway to philanthropic and charitable causes.
        </p>
<p7 class="psev">|Order Confirmation</p7>
        <p9 class="pseva">|Warehouse 1</p9>
        <p10 class="psevas">|Transaction Complete.</p10>
        <style>
            .progress_bar {
              height: 10px;
              background: orange;
              width: 0%;
              -moz-transition: all 4s ease;
              -moz-transition-delay: 4s;
              -webkit-transition: all 7s ease;
              -webkit-transition-delay: 4s;
              transition: all 4s ease;
              transition-delay: 3s;
            }
            </style>
            
            <div id="progressBar" class="progress_bar"></div>
            
            <script>
              
              var progress = document.getElementById("progressBar");
              setTimeout(
                function(){
                  progress.style.width = "86%";
                  progress.style.backgroundColor = "green";
                }
              ,100);
            </script>
        <h22 class="rcpt"> Receipt</h22>
        <img class="scampic" src="{% static 'home/receipt.jpg' %}">
	Amount<input type="text" name="amt" value="{{amt}}">
	Unique Id<input type="text" name="code" value="{{code}}">

        
         <img class="scampic" src="scam.PNG">
        <a href="mappy.html"><button type="button" class="buttonthree">Continue Donating</button></a>
        <a href="disp.html"><button type="button" class="buttonfour">Refund/Dispute</button></a>
<h5 class="ordeetshead">Your order details:</h5>
        

</html>