{% load static %}
<html>
    <html>
        <head><link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
          <script type="text/javascript" src="calc.js"></script>
        </head>
        <body>
            <title>Good Samaritan</title>
    
            <a href="main.html"><img class="logo" src="{% static 'home/download.jpg' %}"></img></a>
            <h1 class="head">Good Samaritan</h1>
          <div class="topnav">
            <a class="active" href="main.html"></a>
            <div class="topnav-right">
                <a href="#news">News</a>
            <a href="#contact">Contact</a>
              <a href="https://www.giveindia.org/certified-indian-ngos">NGO'S</a>
              <a href="mappy.html">Donate!!</a>
            </div>
          </div>
        <p class="para">Welcome to Good Samaritan!</br> A gateway to philanthropic and charitable causes.
        </p>
        <h22 class="rcpt"> Receipt</h22>
        <img class="scampic" src="scam.PNG">
        <a href="mappy.html"><button type="button" class="buttonthree">Continue Donating</button></a>
        <a href="disp.html"><button type="button" class="buttonfour">Refund/Dispute</button></a>




</html>