.head{
    color: red;
    margin-left: 7%;
    margin-top: -60;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.logo{
    height: 90px;
}
.topnav {
    overflow: hidden;
    position: absolute;
    text-align: right;
    top:25px;
    right:5px;
}


.topnav a {
  position: relative;
  float: left;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

  
}


.topnav a:hover {
  background-color: red;
  color: black;
}


.topnav a.active {
  color: white;
}


.topnav-right {
  float: right;
  top: -40%;
  background-color: red;
}
.topnav a:hover{
    color:black;
}
.para{
  position: absolute;
color:red;
      top: 2%;
      left:40%;
      font-size: 19px;
      font-family: 'Open Sans', sans-serif;
  }
.hero{
  top: 10 ;
    width: 100%;
    position: relative;
    height: 100%;
}



.butty{
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: red;
  width:100px;
  height:70px;
  background-color:grey;
  opacity:0.5;
  cursor:pointer;
  margin-top: 0px;
  left: 45%;
  top:-200;
  color:white;
  border-radius: 12px;
}
.butty:hover{
  color:red;
  background-color:white;
  opacity:1;
}

.headey{
  color: red;
  font-size: 20px;
    margin-left: 7%;
    margin-top: -10;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.table{
  text-decoration: none;
  color:red;
  font-size: 20px;
  text-align:center;
  list-style-type: none;
}
p3{
  color:red;
  left:65px;
  margin-bottom: 20px;
  position:relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.em{
  color:red;
  font-size: 30px;
 
}
.green{
  color:green;
  font-size: 30px;
}
.purple{
  color:purple;
  text-align: center;
  font-size:30px;
}
.progbar{
  color:red;
}
.progbarry{
  color:red;
}
.linky{
  font-size: 20px;
  text-decoration: none;
  background-color: red;
  color:white;
  
}
.linky:hover{
  background-color:black;
}
.headexp{
  position:relative;
  color:black;
  font-size: 50px;
  left: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  top:32px;
  border-bottom-color: red;
  border-bottom-style: solid;
}

#progressbar {
  background-color: grey;
  border-radius: 13px;
  width: 400px;
  padding: 3px;
  position:relative;
  top:80px;
  left: 30px;
}

#progressbar>div {
  background-color: red;
  width: 25%;
  height: 20px;
  border-radius: 10px;
}
.per{
  color: black;
  position:relative;
  font-style: italic;
  top:59px;
  font-size: 20px;
  left: 500px;
}
.descript{
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top:100px;
  left:32px;

}
.src{
  position: relative;
  top:100px;
  font-style: italic;
  left:36px;
}
.donator{
  position: relative;
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top:130px;
  left: 32px;
}
.buttons{
  position: relative;
  top:180px;
  left:32px;
}
.result{
  position: relative;
  color:black;
  top:185px;
  left:32px;
}
.pay{
  font-size: 20px;
  position: relative;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:red;
  top:20px;
  left:500px;
  border-radius: 13px;
}
.paylink{
  text-decoration: none;
  font-style: none;
}
.pay:hover{
  background-color: green;
}
.paygate{
  position:relative;
  color:black;
  font-size: 50px;
  left: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  top:32px;
  border-bottom-color: red;
  border-bottom-style: solid;
}
.prompt{
  position:relative;
  color:green;
  font-size:40px ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  top: 180px;
  left: -30px;
}
.buttontwo{
  color:black;
  background-color: white;
  font-size: 25px;
  text-decoration: none;
  position: relative;
  top:260px;
  left:-550px;
}
.buttontwo:hover{
  background-color: red;
  transition-delay: 0.6s;
  transform-style: flat;
}
.scampic{
  position:relative;
  top:250px;
  left: 0%;
  height:auto;
}
.rcpt{
  position:relative;
  color:black;
  font-size: 50px;
  left: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  top:-200;
  border-bottom-color: red;
  border-bottom-style: solid;
}
.buttonthree{
  cursor:pointer;
  background-color: green;
  position: relative;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  right: -130px;
  top: 50x;
  border-radius: 12px;
}
.buttonfour{
  cursor:pointer;
  background-color: red;
  position: relative;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  right: -132px;
  top: 0px;
  border-radius: 12px;
}
.ordeetshead{
  position:relative;
  color:black;
  font-size: 50px;
  left: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  top:400;
  border-bottom-color: red;
  border-bottom-style: solid;
}
.progress_bar {
  position: relative;
  top: -500px;
  height: 15px;
  background: orange;
  width: 0%;
  -moz-transition: all 4s ease;
  -moz-transition-delay: 1s;
  -webkit-transition: all 4s ease;
  -webkit-transition-delay: 1s;
  transition: all 4s ease;
  transition-delay: 1s;
}
.psev{
  position:relative;
  top:50px;
  left:50px;
}
.pseva{
  position:relative;
  top:50px;
  left:550px;
}
.psevas{
  position:relative;
  top:50px;
  left:950px;
}